body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    height: 450px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0.625rem 0.625rem 0; 
}


h1{
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.25rem;
    text-shadow: hsl(212, 21%, 14%) 0.063rem 0.063rem;
}

.image-product{
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    width: 18.75rem;
}

p{
    color: hsl(228, 12%, 48%);
    font-size: 0.875rem;
    font-family: Montserrat;
}

.product-category{
    margin-left: 1.969rem;
    letter-spacing: 5px;
    margin-top: 2rem;

}

.product-description{
    font-size: 0.875rem;
    margin-left: 1.969rem;
    margin-top: 1.5rem;
    margin-left: 1.969rem; 
}

.product-price{
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1.188rem;
}

button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 1.875rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 14.75rem;
    height: 3rem;
    gap: 0.726rem;
}

button:hover {
    background-color:hsl(212, 21%, 14%)

}

@media screen and (max-width:375px) {
    .container {
        flex-direction: column;
    }
    .image-product{
        height: 15rem;
        object-fit: cover;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
        border-bottom-left-radius: 0rem;
        
    }
    .text{
        border-radius: 0rem;
    }

}