body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

h1{
    font-family: Fraunces;
    padding: 20px;
    color: hsl(212, 21%, 14%);
    font-size: 2.5em;
}

.image-product{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

p{
    padding: 20px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: Montserrat;
}

.product-price{
    font-size: 2.5em;
    padding: 20px;
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
}
