body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(30, 38%, 92%);
    border-radius: 10px;
    height: 800px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    height: 450px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0; 
}


h1{
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-size: 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    line-height: 35px;
}

.image-product{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
}

p{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: Montserrat;
}

.product-category{
    margin-left: 30px;
    letter-spacing: 5px;
    margin-top: 30px;

}

.product-description{
    font-size: 14px;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 25px;
    margin-right: 30px;
    
}

.product-price{
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    border: none;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 13px 73px;
}